.menu { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  .header {
    position: relative;
    display: flex;
    flex-direction: column;

    input {
      
      padding: 7px;
      font-size: 1rem;
      font-weight: 500;
      color: rgb(99, 99, 99);
      box-sizing: border-box;
      outline: none;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 5px;
    }

    .search-bar-items {
      position: absolute;
      background: #ffff;
      border-radius: 5px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      z-index: 999;
      width: 100%;
      margin-top: 3rem;
      ul {
        list-style: none;
        padding: 5px;
        .movie_link {
          text-decoration: none;
          color: black;

          p {
            padding: 5px;
            font-size: 1rem;
            font-weight: 500;
            color: rgb(99, 99, 99);
            &:hover {
              color: rgb(0, 0, 0);
            }
          }
        }
      }
    }
  }
}
